/* Import Froala Editor styles */
@import "froala-editor/css/froala_editor.pkgd.min.css";
@import "froala-editor/css/froala_style.min.css";
@import "froala-editor/css/themes/dark.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

@media (forced-colors: active) {
  * {
    forced-color-adjust: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .editor {
    background-color: #333;
    color: #fff;
  }
}
